.bg_gradient_dark{
    background: #6c2bbb;
    background: linear-gradient(0deg, #311561 0%, #330034 100%);
}

.bottom_triangle_gradient{
    position: relative;
    overflow: hidden;
}

.bottom_triangle_gradient > *{
    z-index: 1;
}

.bottom_triangle_gradient::after{
    content: " ";
    background: linear-gradient(30deg, #100468 60%, #B32FBC 80%);
    width: 300%;
    height: 100%;
    position: absolute;
    transform: rotate(-26deg);
    bottom: -5.7%;
    left: -50%;
    opacity: 50%;
}