.bg_gradient_dark{
    background: #6c2bbb;
    background: linear-gradient(0deg, #311561 0%, #330034 100%);
}

.gameplay_description_border_strip{
    border-right: 3px white;
    border-style: dashed;
}

.gamemplay_content_box{
    min-height: 180px;
    width: 90%;
    max-width: 900px;
}

.gameplay_animation_box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    min-width: 1560px;
}

@media (max-width: 1559px) {
    .gameplay_animation_box{
        margin-left: calc(((100vw - 1560px))/2);
    }
}