@import "../systems/layout.scss";

.layout_L {
  @include layout-L;
  --MY: 40px;
  @media screen and (max-width: 640px) {
    --MY: 20px;
  }
}

.layout_M {
  @include layout-M;
  --MY: 40px;
}
.layout_S {
  @include layout-S;
  --MY: 40px;
}

.font_header {
  font-size: 45px;
  line-height: 65px;
}

.bottom_triangle_gradient{
    position: relative;
    overflow: hidden;
}

.bottom_triangle_gradient > * {
  z-index: 1;
}

.bottom_triangle_gradient::after {
  content: " ";
  background-image: url('../../public/media/img/Gameplay/GameplayOverlay.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 280px;
  position: absolute;
  // transform: rotate(-10deg);
  bottom: 0;
  left: 0;
}

.gameplay_description_border_strip {
  border-right: 3px white;
  border-style: dashed;
}

.rotate_90 {
  transform: rotate(90deg);
}

.rotate_180 {
  transform: rotate(180deg);
}

.rotate_270{
    transform: rotate(270deg);
}
